@import "~bootstrap/scss/bootstrap";


body{
background-color: grey;
font-family: 'Roboto', sans-serif;
}
.navbar{
  // background-color: whitesmoke !important;

  justify-content: center;
  max-width: 100vw;
  a{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: #B5C2B7;

  }
}

.scroll-button{
  margin-top: 8vh;
}

h1{
  margin-top: 5vh;
}
#uncontrolled-tab-example-tab-Project-1{
  color: black;
}
#uncontrolled-tab-example-tab-Project22{
  color: black;
}

#uncontrolled-tab-example-tab-Project-3{
  color: black;
}
#uncontrolled-tab-example-tab-Project-4{
  color: black;
}


// .profile-next-to-skills{
//   display: flex;
//   margin-left: 5vw;
//   margin-right: 5vw;

// }


// Hero Section 
// .hero-text-div{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.hero-text{
  margin-left: 10vw;
  margin-top: 3vh;
}


.profile-image{
  margin-top: 5vh;
  width: 20vw;
  height: auto;
  margin-right: 8vw;
}
.hero{
  min-height: 90vh;
  display: flex ;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}
.links.col-1{
  margin: 5vw;
//   display: flex;
//   min-width: 20vw;
}

// .hero-mobile{
//   flex-direction: column;
//   justify-content: flex-start;
//   margin: 5vh;
// }

.hero-text-col{
  align-self: center;
}

.links{
  // margin-top: 30vh;
  align-self: flex-start;
  max-width: 5vw;
  margin: 0 2vw;
    img{
      margin: 1vh 0vw;
      max-width: 5vw;
    }
}

.hero-image-caption{
  display: flex;
  align-items: center;
}

.subsection-under-profile-image{
  border: 1px black solid;
  padding: 2vw;

  // border-style: groove;
  // border-width: 7px;
  // border-color: rgba(197, 187, 255, 0.829); 

  border-style: inset;
  border-width: 3px;
  border-color: rgba(205, 187, 255, 0.829);
  inset: 0px 0px 20px 10px rgba(0, 0, 0, 1) ;
}

@media screen and (max-width: 850px) {



  .profile-image {
    width: 30vw !important;
}
  #root{
    min-width: 100vw;
  }
  body{
    min-width: 100vw;
  }
  .hero-image-caption{
    flex-direction: column;
  }
// .hero{
//   align-items: flex-start;
// }
// .hero-mobile{
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
// }
div.links.col-1{
  align-self: flex-start;
  // display: flex;
}
img.profile-image.rounded{
  align-self: center;
  width: 60vw;
//   display:none;
}
}


// SKills Section

.skills-header{
  margin-top: 5vh;
}

.icon-image{
  max-width: 5vw;
}



.skills-icon-description-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
}

// @media screen and (max-width: 850px) {
//   .skills-row{
//     flex-direction: column;
//   }
//   .skills-icon-description-container{
//     display: flex;
//   }

// }


//Experience 

.accordion{
  margin-right: 10px;
}

.experience-cards{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5vh;
    .card-header{
      min-width: 45vw;
    }
}

.experience-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 850px) {
  .experience-cards{
    flex-direction: column;
    margin:   0vw 5vw
    
  }


}



//projects

.link-icon-projects{
  width: 3vw;
  margin: .8vw;
}

.carousel-item{
  // max-width: 80vw;
  max-height: 80vh;
}

.carousel.slide{
margin: 0vw 5vw;
}

.project-desciption{
  margin: 0vw 5vw;
  

}

.carousel-control-prev-icon, .carousel-control-next-icon {
  // height: 100px;
  // width: 100px;
  outline: black;
  
  background-color: rgba(0, 0, 0, 0.3);
  // background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.sr-only{
  display: none;
}

//footer

.footer{
  // background-color: teal;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-links{
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  
  a{
    margin: 0px 20px;
    text-decoration: none;
    color: black;
    
  }
}

@media screen and (max-width: 850px) {

  .footer{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  }

  //interests 

  .interests-container{
    display: flex;
    justify-content: space-between;
  }

  .interests-paragraph{
    max-width: 50vw;
    margin-right: 2vw;
  }

  .hero-carousel{
    max-width: 300px;
    
  }

  @media screen and (max-width: 850px) {
    .hero-carousel{
      max-width: 350px;
    }
    .interests-container{
      flex-direction: column;
      max-width: 80vw;
    }
    .interests-paragraph {
      min-width: 90vw;
    }
    .navbar{
      font-size: 3vw;
    }
  }






